body {
  background-color: #232323; 
}

#wrapping {
  display: table;
  margin: 0 auto;
  padding: 50px;
}

.img-size {
	max-height: 200px;
  max-width: 200px; 
}

#imgclick {
	color: white;
	background-color: #cca3cc;
	border-radius: 5px;
	border: 0px; 
	height: 50px;
	width: 150px;
	font-size: 20px;
  display: table;
  margin: 0 auto;  
}

#imgclick:hover {
  background-color: #ffdbff;
  cursor: pointer; 
}

